*{
    font-family: sans-serif;
}
.main_homepage{
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .carousel .carousel-item {
    height: 500px;
    width: 100vw;
  }

  
/* slider img  */
.carousel-item img {
      width: 100vw;
      height: 500px;
  }
.books_to_baught{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}




.books_to_baught_head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color: white;
}
.books_to_baught_head h1{
    color: black;
    text-align: center;
    font-size: 30px;
}
.books_to_baught_head h1 i{
    margin-right: 20px;
    color: rgb(182, 182, 255);
}
.books_to_baught_books{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #ebf1ff;
    padding: 20px 0;
}
.book_box{
    text-decoration: none;
    background-color: white;
    width: 250px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px;
    transition: all 300ms ease;
}
.book_box:hover{
    transform: scale(1.009);
}
.book_box_up{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    border-radius: 4px;
    background-color: #f6f9fff1;
}
.book_box_up img{
    width: 120px;
    height: 120px;
    border-radius: 4px;
}
.book_box_down{
    width: 250px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.book_name_author{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
}
.book_name_author h3{
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
}
.book_name_author a{
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: rgb(184, 184, 255);
}
.book_price{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 50px;
}
.book_price h2{
    font-size: 20px;
}

